
body {

	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	color: white;
}


p {
	
	font-size: 28px;
	margin-left: 15px;

}

#choose, #fight, #arena, #defender {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn {
	width: 300px;
	height: 200px;
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	padding-top: 170px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#gam {

	background-image: url("../images/Gambit2.jpg");

}


#sto {

	background-image: url("../images/Storm.jpeg");

}

#wolv {

	background-image: url("../images/Wolverine.jpg");

}


#cyc {

	background-image: url("../images/Cyclops.jpg");

}

#attack {

	margin-left: 15px;
}